.form-card
  %h3.text-center Well done, your link has been shortened!
  %h3.text-center Share it now!
  .col-md-6
    %p
      %label Your original URL was:
      %input.form-control{disabled: 'disabled', value: "#{@url.original_url}"}
    %br
    %b
      %label Your shortened URL is:
      %input.form-control{value: "#{request.base_url}/#{@url.short_url}"}
    %br
    = link_to('Show all yr shortened URLs', user_path(current_user), class: 'btn btn-primary')