= simple_form_for url, html: {class: 'text-center'} do |f|
  = f.input :original_url, as: :string, placeholder: 'Enter the URL', input_html: {class: 'form-control'}
  %br
  = f.submit 'Generate', class: 'btn btn-success'